.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  font-family: Nova Mono, monospace;
}

.dot {
  margin-top: 1rem;
  border-radius: 2rem;
  background-color: lightgray;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.dot:hover {
  background-color: darkgray;
}

.move {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.5s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.move:hover {
  background-color: black;
}

.move-back:active {
  transform: translateX(-20px);
}

.move-next:active {
  transform: translateX(20px);
}

.move > img {
  width: 30px;
  height: auto;
  filter: invert(1);
}
