body {
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: Nova Mono;
  src: url("./assets/NovaMono.ttf");
}

#root {
  font-family: Nona Mono, monospace;
  height: 100vh;
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: auto;
  }
}
